#distro-group {
  margin: 4px 5px;
  background-color: #1b2023;
  border-radius: 20px;
  color: #cfbdfe;
}

#custom-distro {
  color: #1e9de5;
  padding: 6px 15px 6px 10px;
}

#custom-terminal {
  color: #a6e3a1;
  padding: 0px 10px;
}

#custom-code {
  color: #89b4fa;
  padding: 0px 10px;
}

#custom-obsidian {
  color: #cba6f7;
  padding: 0px 10px;
}

#custom-files {
  color: #f9e2af;
  padding: 0px 10px;
}

#custom-browser {
  color: #fab387;
  padding: 0px 10px;
}

#custom-protonmail {
  color: #7a58f6;
  padding: 0px 10px;
}

#custom-protonpass {
  color: #aa6fd5;
  padding: 0px 20px 0px 10px;
}
